/******************* Content Component *******************/
/* Cards Bar */
.cards-bar {
  margin: 35px 0 35px 0;
  display: flex;
}

.cards-bar > div {
  display: flex;
  margin: auto;
}

.data-info {
  display: flex;
}

@media only screen and (max-width: 1295px) {
  .data-info {
    flex-direction: column;
  }
}
