@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
}

header {
  height: 90px;
  width: 100%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.12);
  display: flex;
}

header h1 {
  font-size: 1.1em;
  font-weight: 600;
  margin: auto;
}

header > ul {
  list-style: none;
  margin: 0;
  height: 100%;
  padding-top: 33px;
}

header > ul li {
  display: inline;
  height: 100%;
  padding: 35px 20px 35px 20px;
}

header > ul li a {
  text-decoration: none;
  color: #000;
  font-size: 1.1em;
  font-weight: 600;
}

header > ul li:hover,
header > ul li.active {
  background: #f8faff;
}

header .dropdown {
  display: flex;
  cursor: pointer;
  padding-left: 8px;
}

header .dropdown:hover {
  background: #f8faff;
}

.profile-img {
  margin-top: auto;
  margin-bottom: auto;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  background-color: #c0c3c9;
  display: flex;
}

.profile-img img {
  margin: auto auto;
}

.down-arrow {
  margin: auto 30px auto 20px;
}

/* Card Component */
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Rubik", sans-serif;
  width: 100px;
  height: 90px;
  background: #d5deff;
  color: #2e5bff;
  padding: 8px;
  border-radius: 10px;
  font-weight: 300;
  font-size: 1.2em;
  margin: 10px;
  cursor: pointer;
}

.card.active {
  background: #2e5bff;
  color: #fff;
}

/******************* Shipment Info Component *******************/
.more-info {
  padding: 15px 8px 15px 8px;
  margin: 30px;
  border: 1px solid #d5deff;
  height: fit-content;
}
/* Circular Button */
.c-btn {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background: #d5deff;
  display: flex;
}

.c-btn img {
  margin: auto auto;
}

/* Dotted Line */
.dot-line {
  position: absolute;
  height: 100%;
  width: 2px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%232f61d5' stroke-width='4' stroke-dasharray='10%2c20' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  z-index: -2;
  left: 25px;
}

.status-row {
  margin-top: 20px;
  display: flex;
  margin-left: 14px;
}

/* Blue Dot */
.status-row .dot {
  width: 15px;
  height: 15px;
  margin: auto 0 auto 0;
  border-radius: 30px;
  background: #3fb6dc;
  border: 5px solid rgba(63, 182, 220, 0.5);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

/* Blue Vertical Line */
.status-row hr {
  height: 1px;
  width: 30px;
  margin: auto 2px auto 2px;
  background: #3fb6dc;
  border: none;
}
/* Status, Date and Time */
.status-row .content {
  display: flex;
  padding: 12px;
  border: 1px solid #e6ecff;
  color: #69707f;
  width: 300px;
  font-size: 0.7em;
}
.status-row .content.active {
  background: #e6ecff;
  color: #33ac2e;
}
.status-row .content .status {
  flex: 1;
}
.status-row .content .date {
  margin-right: 20px;
}

/******************* Content Component *******************/
/* Cards Bar */
.cards-bar {
  margin: 35px 0 35px 0;
  display: flex;
}

.cards-bar > div {
  display: flex;
  margin: auto;
}

/* Table */
.table-out {
  border: 1px solid #d5deff;
  flex: 1;
  height: fit-content;
}
/* Table Head */
.table-head {
  margin-top: 10px;
  padding-bottom: 10px;
  width: calc(100% - 60px);
  display: flex;
}

.table-head i{
  margin-left: 8px;
  color: #2e5bff;
}

.table-head > div {
  flex: 1;
  color: #bfc5d2;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  text-align: left;
  font-size: 0.7em;
  margin-left: 30px;
}

/* Table Body Scrollbar */
.table-content {
  max-height: 380px;
  overflow-y: scroll;
}
.table-content::-webkit-scrollbar {
  width: 12px;
  background-color: #d5deff;
}
.table-content::-webkit-scrollbar:horizontal {
  height: 12px;
}
.table-content::-webkit-scrollbar-track {
  border: 1px #d5deff solid;
  border-radius: 16px;
  -webkit-box-shadow: 0 0 6px #d5deff inset;
  box-shadow: 0 0 6px #d5deff inset;
}
.table-content::-webkit-scrollbar-thumb {
  background-color: #2e5bff;
  border: 1px solid #2e5bff;
  border-radius: 16px;
}
.table-content::-webkit-scrollbar-thumb:hover {
  background-color: #2e5bff;
  border: 1px solid #2e5bff;
}
.table-content::-webkit-scrollbar-thumb:active {
  background-color: #2e5bff;
  border: 1px solid #2e5bff;
}

/* Table Body */
.table-content .row {
  border: 1px solid #eff2ff;
  border-right: none;
  font-family: "Rubik", sans-serif;
  color: #2e384d;
  padding: 20px;
  display: flex;
  margin: 10px;
  cursor: pointer;
}
.table-content .row:hover{
  background: #e6ecff;
}
.table-content .row > div {
  flex: 1;
  padding-right: 10px;
}
.table-content .row .status {
  color: #33ac2e;
}

